## One Hot Encoding or Nominal Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## Create a sample dataframe with categorical data
data = {'Color': ['Red', 'Blue', 'Green', 'Green', 'Red','Blue']}
df = pd.DataFrame(data)

In [3]:
df

   Color
0    Red
1   Blue
2  Green
3  Green
4    Red
5   Blue

In [4]:
## create an instance of OneHotEncoder
encoder = OneHotEncoder()

In [9]:
encoded = encoder.fit_transform(df[['Color']])

In [10]:
encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [13]:
import pandas as pd 
encoded_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out(['Color']))

In [12]:
encoder.get_feature_names_out()

array(['Color_Blue', 'Color_Green', 'Color_Red'], dtype=object)

In [14]:
encoded_df

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [15]:
pd.concat([df, encoded_df], axis=1)

   Color  Color_Blue  Color_Green  Color_Red
0    Red         0.0          0.0        1.0
1   Blue         1.0          0.0        0.0
2  Green         0.0          1.0        0.0
3  Green         0.0          1.0        0.0
4    Red         0.0          0.0        1.0
5   Blue         1.0          0.0        0.0