## Imbalanced Dataset Handling

1. Upsampling 
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)


## Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=5, scale=2, size=n_class_0),
    'target': [0] * n_class_0   
})


class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=3, scale=1, size=n_class_1),
    'feature2': np.random.normal(loc=8, scale=2, size=n_class_1),
    'target': [1] * n_class_1       
})

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature1  feature2  target
0 -1.085631  6.102604       0
1  0.997345  5.839178       0
2  0.282978  8.631304       0
3 -1.506295  4.494499       0
4 -0.578600  4.415992       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### UPSAMPLING

In [14]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [15]:
df_minority.head()

     feature1   feature2  target
900  2.699768   8.278067       1
901  2.367739   8.051153       1
902  2.795683   7.607114       1
903  3.213696  10.624510       1
904  4.033878  10.374835       1

In [16]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  6.102604       0
1  0.997345  5.839178       0
2  0.282978  8.631304       0
3 -1.506295  4.494499       0
4 -0.578600  4.415992       0

In [17]:
## Upsampling performed here
from sklearn.utils import resample

In [19]:
df_minority_upsample = resample(df_minority,
                                 replace=True,
                                 n_samples=len(df_majority),    
                                 random_state=42
                                )

In [20]:
df_minority_upsample.value_counts()

feature1  feature2   target
2.005190  6.220178   1         19
2.915470  7.304082   1         18
4.701608  8.321778   1         18
3.902006  4.780610   1         16
4.013493  8.094479   1         16
                               ..
1.988356  7.670250   1          4
3.995595  8.951868   1          4
3.013560  9.694521   1          4
3.549697  10.191844  1          4
2.245992  9.893816   1          3
Name: count, Length: 100, dtype: int64

In [21]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [23]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [24]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [25]:
df_upsampled.head()

   feature1  feature2  target
0 -1.085631  6.102604       0
1  0.997345  5.839178       0
2  0.282978  8.631304       0
3 -1.506295  4.494499       0
4 -0.578600  4.415992       0

In [26]:
df_upsampled.shape

(1800, 3)

## Downsampling (Jo zaida hai usko kam karna)

In [27]:
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=5, scale=2, size=n_class_0),
    'target': [0] * n_class_0   
})


class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=3, scale=1, size=n_class_1),
    'feature2': np.random.normal(loc=8, scale=2, size=n_class_1),
    'target': [1] * n_class_1       
})

In [28]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [29]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [30]:
df_majority_downsample = resample(df_majority,
                                 replace=False,
                                 n_samples=len(df_minority
                                 ),    
                                 random_state=42
                                )

In [31]:
df_majority_downsample.shape

(100, 3)

In [33]:
pd.concat([df_minority, df_majority_downsample]).target.value_counts()

target
1    100
0    100
Name: count, dtype: int64